body {
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid rgba(128, 125, 125, 0.551);
  border-radius: 7px;
}
.row {
  margin-left: 5px;
}
h1 {
  margin-top: 10px;
  margin-bottom: 3px;
}
p {
  font-size: 15px;
  line-height: 3px;
  margin-left: 9px;
}

.date {
  color: rgb(89, 88, 88);
  font-size: small;
}

.middle-middle {
  padding-right: 0px;
}
h3 {
  position: relative;
  margin-top: 13px;
}
.icon {
  width: 70px;
}
.current-temp {
  margin-left: 5px;
  font-size: 40px;
}
small {
  color: rgb(89, 88, 88);
  font-size: 15px;
}

li {
  list-style: none;
  text-transform: capitalize;
  color: rgb(89, 88, 88);
  font-size: 13px;
  font-weight: 100;
  line-height: 0px;
  margin: 15px;
}
ul {
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  margin-top: 28px;
}
.humidity,
.wind {
  color: rgb(35, 22, 22);
}
.unit {
  font-size: 10px;
}
